body {
  background-image: url(https://static.tumblr.com/glziqhp/07plo83j2/c34zt.jpg);
  margin: 0px 0px 0px 0px;
  padding: 10px;
  text-shadow: rgba(116, 126, 106, 0.6) 0.1px 0.1px 5px;
}

.card {
  background-color: rgb(177, 182, 172);
  border: 0px solid rgb(177, 182, 172);
  border-radius: 0.4rem;
  box-shadow: rgba(131, 99, 58, 0.6) 2px 2px 10px 1px;
  height: 100%;
  width: 420px;
}

.wrapper {
  margin: auto;
  width: 100%;
  padding: 12px;
}

.row {
  border: 1px solid rgba(177, 182, 172, 0);
  background-color: rgba(177, 182, 172, 0);
  gap: 2%;
}

.col {
  margin: 0px;
  padding: 0px;
}

#flag {
  filter: drop-shadow(rgba(131, 99, 58, 0.4) 0.5px 0.5px 3px);
  display: block;
  margin: 10px 18px;
  padding: 6px;
  width: 28px;
}

.countryflag {
  display: block;
  float: right;
}

#flag:hover {
  cursor: help;
}

#city-name {
  display: block;
  font-size: 44px;
  padding-top: 40px;
  font: larger;
}

.city {
  display: block;
  max-width: 300px;
}

.date {
  display: block;
  margin: 0 auto;
}

.c-date {
  color: rgba(91, 80, 69, 0.7);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 5px;
}

.icon-temp-unit-units {
  margin: 0px;
  padding: 0px;
  padding-bottom: -30px;
  padding-right: 0px;
  width: 440px;
  max-width: 90%;
  text-align: center;
}

canvas {
  margin: 2px;
}

.c-temp {
  font-size: 52px;
  padding: 0px;
  padding-top: 18px;
  margin: 0px;
  text-align: center;
}

.c-unit {
  font-size: 18px;
  padding-top: 20px;
  margin-left: -25px;
  width: fit-content;
  float: left;
}

#other-info {
  margin: 3px;
  padding: 3px;
}

#parameters {
  width: 50%;
  float: right;
}

.param {
  color: rgba(51, 34, 17, 0.7);
  display: block;
  margin: 0px;
  text-align: right;
}

.current-data {
  width: 35%;
  flex: auto;
}

.info {
  color: rgba(51, 34, 17, 0.7);
  display: block;
  margin: 0px;
  margin-right: 0px;
  padding-right: 0px;
  text-align: left;
}

ul {
  display: block;
  margin: 0px auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  table-layout: auto;
}

.forecastbox,
.WeatherForecast {
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 85%;
}

.WeatherForecast-box {
  margin: 0px 20px;
}

.WeatherForecast-day {
  color: rgba(91, 80, 69, 0.7);
  color: rgba(51, 34, 17, 0.7);
  font-weight: bold;
  text-align: center;
  max-width: 90%;
}

.WeatherForecast-day {
  background-size: auto;
  text-align: center;
}

.WeatherForecast-temperatures {
  color: rgba(51, 34, 17, 0.7);
  text-align: center;
  max-width: 90%;
}

.WeatherForecast-temperature-max {
  color: rgba(51, 34, 17, 0.7);
  text-align: center;
  max-width: 90%;
}

.WeatherForecast-temperature-min {
  color: rgba(51, 34, 17, 0.3);
  text-align: center;
  max-width: 90%;
}

.WeatherForecast-temperature-mid {
  color: rgba(63, 108, 108, 0);
  text-align: center;
  max-width: 90%;
}

.forecast {
  color: rgba(51, 34, 17, 0.7);
  text-align: center;
  width: 400px;
  max-width: 99%;
}

#icon01,
#icon02,
#icon03,
#icon04,
#icon05 {
  filter: drop-shadow(rgba(131, 99, 58, 0.4) 2px 2px 5px);
  width: 35px;
}

#minmax00 {
  text-align: right;
  width: max-content;
}

#minmax01,
#minmax02,
#minmax03,
#minmax04,
#minmax05 {
  text-align: center;
  margin: 5px;
  width: 17.5%;
}

.form-and-buttons {
  padding: 8px;
}

input {
  border-color: rgb(222, 200, 200);
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 90%;
  width: 100px;
}

.buttons {
  display: inline;
}

.but1 {
  background-color: rgba(177, 182, 172, 0);
  border-color: rgb(177, 182, 172, 0);
  border-radius: 6px;
  border-width: 0.8px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px 0;
  color: white;
  display: inline;
  margin: 8px;
  margin-bottom: 20px;
  padding: 4px;
  min-width: 90%;
  max-width: 90%;
  width: 100px;
}

form {
  margin: 5px 5px;
  padding: 5px 5px;
  padding-top: 15px;
}

.byLota {
  color: #f5f5f5;
  padding-bottom: 10px;
  margin: 0px;
  text-align: left;
  padding-left: 15px;
}

.linkLotaOpeSource {
  color: rgba(63, 108, 108, 0.7);
}

.linkLotaOpeSource:hover {
  color: rgba(107, 63, 108, 0.7);
}
