.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  min-width: 300px;
  max-width: 400px;
  justify-content: center;
}

.Weather .overview {
  margin-bottom: 20px;
  text-align: center;
  place-items: center;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  left: 2%;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .temp {
  padding: 20px 5px;
  text-align: center;
  float: right;
}

.Weather ul {
  display: block;
  margin: 0 auto;
}

.Weather .icon {
  margin: 15px 5px;
  margin-top: -5%;
}

.Weather .weather-forecast {
  margin-top: 10px;
}

.Weather .weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

#other-info {
  margin: 1px;
  padding: 1px;
  -ms-flex: 80%;
  flex: 0 1 auto;
}

#parameters {
  width: 100%;
  float: right;
}

.param {
  color: rgba(51, 34, 17, 0.7);
  display: block;
  margin: 0px;
  text-align: right;
}

.current-data {
  width: 40%;
  flex: auto;
}

.info {
  color: rgba(51, 34, 17, 0.7);
  display: block;
  margin: 0px;
  margin-right: 0px;
  padding-right: 0px;
  text-align: left;
}

.other-info {
  width: 100%;
}

ul {
  display: block;
  margin: 0px auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  table-layout: auto;
}

.forecastbox {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 90%;
}

.forecast {
  text-align: center;
  width: 400px;
  max-width: 99%;
}

input {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.form-and-buttons {
  padding: 8px;
}

input {
  border-color: rgb(222, 200, 200);
  display: block;
  margin: 15px;
  max-width: 80%;
  width: 260px;
}

button {
  box-shadow: rgba(0, 0, 0, 0.271) 1px 1px 6px 0;
  border-color: rgba(177, 182, 172, 0.5);
  border-width: 0.5px;
  background-color: rgb(177, 182, 172, 0.5);
  color: white;
  display: inline;
  padding: 3px;
  margin: 15px 5px;
  border-radius: 6px;
}

.buttons {
  display: block;
  margin: 0px auto;
  display: inline;
}

.but1,
.but2 {
  background-color: rgb(177, 182, 172, 0.5);
  border-color: rgba(177, 182, 172, 0.5);
  border-radius: 6px;
  border-width: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.271) 1px 1px 6px 0;
  color: white;
  display: inline;
  margin: 8px;
  padding: 4px;
  min-width: 40%;
  max-width: 40%;
}

form {
  margin: 5px 10px;
  padding: 5px 10px;
  padding-top: 15px;
}
